<ol class="effects-list">
  {{#each effects as |effect id|}}
  <li class="effect flexrow" data-effect-id="{{effect.id}}">
    <div class="effect-image"><img src="{{effect.img}}" title="{{effect.name}}" width="24" height="24"/></div>
    <h4 class="effect-name">{{effect.name}}</h4>
    <div class="effect-controls">
      <a class="effect-control" data-action="edit" title="Edit Effect"><i class="fas fa-edit"></i></a>
      <a class="effect-control" data-action="delete" title="Delete Effect"><i class="fas fa-trash"></i></a>
    </div>
  </li>
  {{/each}}
</ol>
